sudo: required

services:
  - docker

before_install:
  - docker build --no-cache -t o.venger ./
  - docker run -d -p 5000:5000 --name o.venger -t o.venger
  - docker ps -a

script:
  - ./tech-db-forum func -u http://localhost:5000/
